[user]
	name = Nicu Stiurca
	email = nstiurca@pm.me

[includeIf "hasconfig:remote.*.url:*:traclabs/**"]
	path = ~/.gitconfig.traclabs

[push]
	default = current
	autoSetupRemote = true

[merge]
	tool = meld

[github]
	user = nstiurca
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = *
