[core]
	editor=flatpak run re.sonny.Commit

[user]
	name = Nicu Stiurca
	email = nstiurca@pm.me

[includeIf "hasconfig:remote.*.url:*:traclabs/**"]
	path = ~/.gitconfig.traclabs

[push]
	default = current
	autoSetupRemote = true

[merge]
	tool = meld

[github]
	user = nstiurca
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = *

[re.sonny.Commit]
	title-length-hint=50
	body-length-wrap=112
	auto-capitalize-title=true

